.Header {
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.Header__title {
  background: var(--color-primary);
  color: white;
  padding-top: 8px;
  margin: 0;
}
